.auth{
    width: 100%;
    height: 52px;
    background-color: var(--header-background-color);

    &__block{
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        gap: 10px;
    }
}
.search{
    &__block{
        height: 84px;
    }
    &__container{
        width: 100%;
        height: 100%;
        display: grid;
        align-items: center;
        grid-template-columns: 284px 152px auto;
        gap: 10px;
    }
    &__container h3{
        font-weight: 700;
        font-size: 30px;
    }
}
header{
    border-bottom: 1px solid #E2E8F0;
}
.settings{
    height: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    background-color: var(--header-background-color);
    color: white;
    gap: 10px;
    
    &__list{
        position: relative;

    }

    &__btn{
        appearance: none;
        background-color: var(--header-background-color);
        width: 16px;
        height: 16px;
        cursor: pointer;
    }
}
.settings > p{
    text-align: center;
    margin: 0px;
}

.auth{
    &__form{
        width: 416px;
        height: 320px;
        background-color: white;
        border-radius: 8px;
        padding: 24px;
    }
    &__page{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        z-index: 9;
        background-color: rgba(0, 0, 0, 0.353);
        text-align: center;
    }
    &__header{
        height: 32px;
        margin-bottom: 24px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__header button{
        width: 24px;
        height: 24px;
        border: none;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__header p{
        height: 100%;
        margin: 0;
        font-family: Inter;
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        text-align: left;

    }
    &__main{
       display: flex;
       flex-direction: column;
       justify-content: center;
       padding: 12px;
       gap: 8px;
    }
    &__main button{
        width: 244px;
        height: 48px;
        color: white;
        border-radius: 4px;
        border-color: #3B82F6;
        background-color: #3B82F6;
    }
    &__submit{
        width: 100%;
        height: 48px;
        display: flex;
        justify-content: center;
        margin-top: 12px;
    }
    &__checklist{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 24px;
        margin-top: 8px;
    }
    &__checklist input{
        width: 16px;
        height: 16px;
    }
    &__checklist--input{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &__checklist--input legend{
        //styleName: Text / base / normal-400;
        margin-left: 5px;
        margin-bottom: 0px;
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
    }
    &__checklist--input a{
        //styleName: Text / base / normal-400;
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
    }
}

input{
    width: 100%;
    height: 48px;
    padding: 12px;
    border: 1px solid #CBD5E1; 
    border-radius: 4px;
    color: black;
}
::-webkit-input-placeholder{
    color: #64748B;
}