.auth{
    width: 100%;
    height: 52px;
    background-color: var(--header-background-color);

    &__block{
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        gap: 10px;
    }
}
.search{
    &__block{
        height: 84px;
    }
    &__container{
        width: 100%;
        height: 100%;
        display: grid;
        align-items: center;
        grid-template-columns: 284px 152px auto;
        gap: 10px;
    }
    &__container h3{
        font-weight: 700;
        font-size: 30px;
    }
}
header{
    border-bottom: 1px solid #E2E8F0;
}