<header>
    <section class="auth">
        <article class="container auth__block">
            <button type="button" class="btn btn-outline-light">Войти</button>
            <button type="button" class="btn btn-primary">Новое объявление +</button>
        </article>
    </section>
    <section class="container search__block">
        <div class="search__container">
            <h3>Доска объявлений</h3>
            <button type="button" class="btn btn-outline-info">Все категории</button>
            <div class="input-group">
                <input type="text" class="form-control" aria-label="Сумма в рублях (с точкой и двумя десятичными знаками)">
                <button type="button" class="btn btn-primary">В поисках вдохновения...</button>
            </div>
        </div>
    </section>
</header>
