<header>
    <section class="auth">
        <article class="container auth__block">
            <button type="button" class="btn btn-outline-light btn-outline-custom"><img src="" alt="">Войти</button>
            <button type="button" class="btn btn-primary">Новое объявление <img src="" alt=""></button>
        </article>
    </section>
    <section class="container search__block">
        <div class="search__container">
            <h3>Доска объявлений</h3>
            <button type="button" class="btn btn-outline-info"><img src="" alt=""> Все категории</button>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Поиск по объявлениям">
                <button type="button" class="btn btn-primary">Найти <img src="" alt=""></button>
            </div>
        </div>
    </section>
</header>
