<app-header></app-header>
<section class="container advert__container">
    <form class="advert__form">
        <h3>Новое объявление</h3>
        <legend for="categories">Выберете категорию <span style="color: red;">*</span></legend>
        <select name="categories"></select>
        <legend for="title">Название объявления <span style="color: red;">*</span></legend>
        <input name="title"/>
        <legend for="description">Описание</legend>
        <textarea name="description"></textarea>
        <legend for="adress">Адрес (место проведения сделки) <span style="color: red;">*</span></legend>
        <input type="search" name="adress"/>
        <legend for="cell">Цена</legend>
        <input type="number" name="cell"/>
        <button type="submit" class="btn btn-submit">Разместить объявление</button>
        <p>Нажимая кнопку «Разместить объявление» 
            Вы соглашаетесь с правилами площадки</p>
    </form>
</section>
