.cards{
    &__container{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
    &__container p{
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        text-align: left;
        margin-top: 32px;
        margin-bottom: 24px;
    }
    &__block{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        min-height: 80vh;
        gap: 8px;
    }
}