.cards{
    &__container{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
    &__block{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        min-height: 80vh;
        gap: 8px;
    }
}