.categories{

    &__container{
        height: 100%;
        margin-top: 32px;
    }

    &__navbar{
        width: 306px;
        min-height: 520px;
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    &__navbar div{
        width: 95%;
        height: 40px;
    }
    &__block {
        height: 40px;
        border: 8px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }
    &__block:focus{
        background-color: #F5F5F5;
    }
    &__block p{
        margin: 0px;
    }
}