.categories{

    &__container{
        height: 100%;
    }

    &__navbar{
        width: 306px;
        min-height: 520px;
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    &__navbar div{
        width: 95%;
        height: 40px;
    }
}