<app-header></app-header>
<div class="container">
    <h3>Объявления по запросу {{search.search}}</h3>
    <div class="cards__block">
        <form [formGroup]="sortForm" class="cards__nav">
            <p>Все категории</p>
            @for (category of CategoryList; track $index) {
                <div class="nav__categories">{{category.name}}</div>
            }
            <p style="margin-top: 12px;">Цена</p>
            <div class="cards__result__cell">
                <input formControlName="minCell" type="number"><input formControlName="maxCell" type="number">
            </div>
            <button type="submit" class="btn btn-submit">Показать объявления</button>
        </form>
        <div class="cards__result">
            <div class="cards__result__header">
                <p>Всего найдено {{advertList.length}} результатов</p>
                <select (change)="SetSortedList($event)">
                    @for (sort of sortList; track $index) {
                        <option [value]="sort.name">{{sort.name}}</option>
                    }
                </select>
            </div>
            <div class="cards__result__body">
                @for (card of advertList; track $index) {
                    <app-card [cardinfo]="card"></app-card>
                }
            </div>
        </div>

    </div>
</div>