.card__form{
    width: 306px;
    height: 336px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}
.card__form img{
    width: 306px;
    height: 206px;
    
}
.card{
    display: flex;
    flex-direction: column;
    &__title{
        color: #3B82F6;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
    }
    &__sell{
        color: #1E293B;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
    }
    &__address{
        color: #64748B;
    }
    &__data{
        color: #64748B;
    }
}